.close-icon-button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: #faaaaa;
  border-radius: 20%;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.close-icon-button:hover {
  background: #40744a;
  border-color: #252323;
}

.close-icon-button:focus-visible {
  outline: 2px solid #386641;
  outline-offset: 2px;
}

.close-icon-button-icon {
  width: 35px;
  height: 35px;
}
